<div class="row">
  <div class="col-md-1 col-sm-1 hidden-xs"></div>
  <div class="col-md-8 col-sm-8 welcomeMessage">
  	<h1>Welcome to Apartment Funder.</h1>
  	<p>
  	  We hope to be your portal for accessing multi-family real-estate deals throughout the United States.  Let's create and close deals faster than ever before by creating a community of like minded accredited investors.
  	</p>
  	<p>
  	  On our secure server we have some of the hottest deals in apartment investment, and we look forward to helping you achieve your goal of sustainable passive income.
  	</p>
  	<p>
  	  Sign up and let's get started, it is free to join as an investor, and sponsorship membership is available for a small fee.
  	</p>  
  </div>



</div>