<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-8 welcomeMessage">
    <h2>Are you looking to become a sponsor for a property listing?</h2>
    <p>Register as a Sponsor.  We charge $50.00 a month to host as many properties as you would like.  Eventually we will charge 2% of the purchase price of your property and eventually Chris will get is Audi.</p>
    <%= link_to "Create Sponsorship", new_charge_path, class: 'btn btn-warning' %>
  </div>

</div>