<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8 col-sm-8">
  <div class="leaderBox">
    <img src="<%= @leadership_team_member.picture %>" height="100" width='100' class="ltm_picture" />
    <span class="leaderName"> <%= @leadership_team_member.name %></span>
    <%= markdown_to_html @leadership_team_member.synopsis %>
    </div>
  </div>

</div>
